{% extends 'base.html.twig' %}

{% block title %}EventsDates index{% endblock %}

{% block body %}
    <h1>EventsDates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Tickets</th>
                <th>Cancellation_reason</th>
                <th>Is_cancelled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for events_date in events_dates %}
            <tr>
                <td>{{ events_date.id }}</td>
                <td>{{ events_date.date ? events_date.date|date('Y-m-d') : '' }}</td>
                <td>{{ events_date.tickets }}</td>
                <td>{{ events_date.cancellationReason }}</td>
                <td>{{ events_date.isCancelled }}</td>
                <td>
                    <a href="{{ path('app_events_dates_show', {'id': events_date.id}) }}">show</a>
                    <a href="{{ path('app_events_dates_edit', {'id': events_date.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_dates_new') }}">Create new</a>
{% endblock %}
